version: "3"
services:
  patient-service-db:
    image: bitnami/postgresql:latest
    container_name: patient-service-db
    environment:
      - POSTGRESQL_USERNAME=rxman
      - POSTGRESQL_PASSWORD=secretpass
      - POSTGRESQL_DATABASE=db
    ports:
      - "5000:5432"
    volumes:
      - patient_data:/bitnami/postgresql
    networks:
      - pms-internal

  #***************************************************************************************************
  patient-service:
    build:
      context: ./patient-service
      dockerfile: Dockerfile
    container_name: patient-service
    ports:
      - "4000:4000"
    depends_on:
      - patient-service-db
      - billing-service
      - kafka
    networks:
      - pms-internal
    environment:
      # These names MUST match the Spring Boot ENV variable convention
      SPRING_APPLICATION_NAME: patientservice
      SPRING_DATASOURCE_URL: jdbc:postgresql://patient-service-db:5432/db
      SPRING_DATASOURCE_USERNAME: rxman
      SPRING_DATASOURCE_PASSWORD: secretpass
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_DATABASE_PLATFORM: org.hibernate.dialect.PostgreSQLDialect
      SPRING_SQL_INIT_MODE: always
      BILLING_SERVICE_ADDRESS: billing-service
      BILLING_SERVICE_GRPC_PORT: 7001
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092

  #***************************************************************************************************
  billing-service:
    build:
      context: ./billing-service
      dockerfile: Dockerfile
    image: billing-service:latest
    container_name: billing-service
    ports:
      - "4001:4001"
      - "7001:7001"
    environment:
      BILLING_SERVICE_HTTP_PORT: 4001
      BILLING_SERVICE_GRPC_PORT: 7001
    networks:
      - pms-internal

  #***************************************************************************************************
  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    image: api-gateway:latest
    container_name: api-gateway
    ports:
      - "4004:4004"
    networks:
      - pms-internal

  #***************************************************************************************************
  analytics-service:
    build:
      context: ./analytics-service
      dockerfile: Dockerfile
    image: analytics-service:latest
    container_name: analytics-service
    depends_on:
      - kafka
    ports:
      - "4002:4002"
    networks:
      - pms-internal
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092

  #***************************************************************************************************
  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka-broker

    ports:
      - "9092:9092"
      - "9094:9094"

    environment:
      # -------------------------
      # KRaft mode
      # -------------------------
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: controller,broker

      # -------------------------
      # Listeners
      # -------------------------
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093,EXTERNAL://0.0.0.0:9094
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT

      # -------------------------
      # Controller quorum
      # -------------------------
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093

      # -------------------------
      # Single node fixes
      # -------------------------
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

      # -------------------------
      # Cluster id
      # -------------------------
      KAFKA_CLUSTER_ID: kafka-cluster-1

    volumes:
      - kafka_data:/var/lib/kafka/data

    networks:
      - pms-internal

#***************************************************************************************************
networks:
  pms-internal:
    driver: bridge
volumes:
  patient_data:
  kafka_data: