networks:
  pms-internal:
    driver: bridge
volumes:
  patient_data:

services:
  patient-service-db:
    image: bitnami/postgresql:latest
    container_name: patient-service-db
    environment:
      - POSTGRESQL_USERNAME=rxman
      - POSTGRESQL_PASSWORD=secretpass
      - POSTGRESQL_DATABASE=db
    ports:
      - "5000:5432"
    volumes:
      - patient_data:/bitnami/postgresql
    networks:
      - pms-internal

  billing-service:
    build:
      context: ./billing-service
      dockerfile: Dockerfile
    image: billing-service:latest
    container_name: billing-service
    ports:
      - "4001:4001"
      - "7001:7001"
    environment:
      BILLING_SERVICE_HTTP_PORT: 4001
      BILLING_SERVICE_GRPC_PORT: 7001
    networks:
      - pms-internal
