services:
  patient-service-db:
    image: bitnami/postgresql:latest
    container_name: patient-service-db
    environment:
      - POSTGRESQL_USERNAME=rxman
      - POSTGRESQL_PASSWORD=secretpass
      - POSTGRESQL_DATABASE=db
    ports:
      - "5000:5432"
    volumes:
      - patient_data:/bitnami/postgresql
    networks:
      - pms-internal

  patient-service:
    build:
      context: ./patient-service
      dockerfile: Dockerfile
    container_name: patient-service
    ports:
      - "4000:4000"
    depends_on:
      - patient-service-db
      - billing-service
    networks:
      - pms-internal
    environment:
      # These names MUST match the Spring Boot ENV variable convention
      SPRING_APPLICATION_NAME: patientservice
      SPRING_DATASOURCE_URL: jdbc:postgresql://patient-service-db:5432/db
      SPRING_DATASOURCE_USERNAME: rxman
      SPRING_DATASOURCE_PASSWORD: secretpass
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_DATABASE_PLATFORM: org.hibernate.dialect.PostgreSQLDialect
      SPRING_SQL_INIT_MODE: always
      BILLING_SERVICE_ADDRESS: billing-service
      BILLING_SERVICE_GRPC_PORT: 7001

  billing-service:
    build:
      context: ./billing-service
      dockerfile: Dockerfile
    image: billing-service:latest
    container_name: billing-service
    ports:
      - "4001:4001"
      - "7001:7001"
    environment:
      BILLING_SERVICE_HTTP_PORT: 4001
      BILLING_SERVICE_GRPC_PORT: 7001
    networks:
      - pms-internal

  broker:
    image: apache/kafka:latest
    container_name: kafka
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://localhost:9092,CONTROLLER://localhost:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
    networks:
      - pms-internal
networks:
  pms-internal:
    driver: bridge
volumes:
  patient_data:

